<div *ngIf="showpreloader" class="d-flex justify-content-center align-items-center h-100">
  <img src="./assets/images/loading.gif" alt="Carregando..." width="100">
</div>
<div class="row" [class.d-none]="showpreloader">
  <div class="col-12 d-flex align-items-stretch grid-margin">
    <div class="row flex-grow">
      <div class="col-12 stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-1">Fale Conosco</h4>
            <!-- <p class="card-description">Cadastre um novo evento.</p> -->
            <form class="forms-sample mt-4" name="eventoForm" #eventoForm="ngForm" (ngSubmit)="save()">
              <!-- <div class="row">
                <div class="col-sm-6">
                  <select class="form-control" id="segundaTurno2Input1" name="segundaTurno2Input1" [(ngModel)]="this.promocao.horarios.segunda.turno2.inicio" [class.is-invalid]="inputInvalid('segundaTurno2Input1')" (blur)="inputTouch('segundaTurno2Input1')" (change)="onInputChange('segundaTurno2Input1', $event.target.value)">
                    <option value="">Selecione...</option>
                    <option *ngFor="let hour of ihorarios" [value]="hour">{{hour}}</option>
                  </select>
                </div>
                <div class="col-sm-6">
                  <select class="form-control" id="segundaTurno2Input2" name="segundaTurno2Input2" [(ngModel)]="this.promocao.horarios.segunda.turno2.fim" [class.is-invalid]="inputInvalid('segundaTurno2Input2')" (blur)="inputTouch('segundaTurno2Input2')" (change)="onInputChange('segundaTurno2Input2', $event.target.value)">
                    <option value="">Selecione...</option>
                    <option *ngFor="let hour of ihorarios" [value]="hour">{{hour}}</option>
                  </select>
                </div>
                <div *ngIf="inputInvalid('segundaTurno2Input1') || inputInvalid('segundaTurno2Input2')" class="invalid-feedback d-block col-sm-12">
                  <small class="form-text" *ngIf="inputError('segundaTurno2Input1', 'required')">Selecione o primeiro horário.</small>
                  <small class="form-text" *ngIf="inputError('segundaTurno2Input2', 'required')">Selecione o segundo horário.</small>
                  <small class="form-text" *ngIf="inputError('segundaTurno2Input2', 'repeatedValue')">O segundo horário não pode ser igual ao primeiro.</small>
                </div>
              </div> -->
              <div class="row">
                  <div class="offset-6 col-md-6">
                      <div class="form-group row">
                        <label for="nome" class="col-sm-2 col-form-label">Status</label>
                        <div class="col-sm-10 px-0">
                         
                            <select required class="form-control" id="segundaTurno2Input2" name="segundaTurno2Input2"  [(ngModel)]="extraControls.status" [class.is-invalid]="inputInvalid('segundaTurno2Input2')" (blur)="inputTouch('segundaTurno2Input2')">
                                <option value=true>Ativo</option>
                                <option value="false">Finalizado</option>
                              </select>
                          <div *ngIf="inputInvalid('nome')" class="invalid-feedback">
                            <small class="form-text" *ngIf="inputError('nome', 'required')">O status é
                              requirido.</small>
                          </div>
                        </div>
                      </div>
                    </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="nome" class="col-sm-2 col-form-label">Nome</label>
                    <div class="col-sm-10 px-0">
                      <input readonly type="text" class="form-control" id="nome" name="nome" 
                        [(ngModel)]="extraControls.nome" [class.is-invalid]="inputInvalid('nome')">
                      <div *ngIf="inputInvalid('nome')" class="invalid-feedback">
                        <small class="form-text" *ngIf="inputError('nome', 'required')">A data do evento é
                          requirida.</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10 px-0">
                      <a href="mailto:{{extraControls.email}}">
                        <input readonly type="email" class="form-control" id="email" name="email" 
                          [(ngModel)]="extraControls.email" [class.is-invalid]="inputInvalid('email')">
                      </a>
                      <div *ngIf="inputInvalid('email')" class="invalid-feedback">
                        <small class="form-text" *ngIf="inputError('email', 'required')">A data do evento é
                          requirida.</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="extraControls.endereco" class="col-md-6">
                  <div class="form-group row">
                    <label for="cidade" class="col-sm-2 col-form-label">Cidade</label>
                    <div class="col-sm-10 px-0">
                      <input readonly type="cidade" class="form-control" id="cidade" name="cidade" 
                        [(ngModel)]="extraControls.endereco.cidade"
                        [class.is-invalid]="inputInvalid('endereco.cidade')">
                      <div *ngIf="inputInvalid('cidade')" class="invalid-feedback">
                        <small class="form-text" *ngIf="inputError('cidade', 'required')">A data do evento é
                          requirida.</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="extraControls.endereco" class="col-md-6">
                  <div class="form-group row">
                    <label for="estado" class="col-sm-2 col-form-label">Estado</label>
                    <div class="col-sm-10 px-0">
                      <input readonly type="estado" class="form-control" id="estado" name="estado" 
                        [(ngModel)]="extraControls.endereco.estado"
                        [class.is-invalid]="inputInvalid('endereco.estado')">
                      <div *ngIf="inputInvalid('estado')" class="invalid-feedback">
                        <small class="form-text" *ngIf="inputError('estado', 'required')">A data do evento é
                          requirida.</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label for="mensagem" class="col-sm-2 col-form-label">Mensagem</label>
                    <div class="col-sm-12 px-right-0">
                      <textarea readonly rows="6" type="mensagem" class="form-control" id="mensagem" name="mensagem"
                        required [(ngModel)]="extraControls.mensagem"
                        [class.is-invalid]="inputInvalid('mensagem')"> </textarea>
                      <div *ngIf="inputInvalid('mensagem')" class="invalid-feedback">
                        <small class="form-text" *ngIf="inputError('mensagem', 'required')">A data do evento é
                          requirida.</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group row">
                      <label for="observacao" class="col-sm-2 col-form-label">Observação</label>
                      <div class="col-sm-12 px-right-0">
                        <textarea rows="6" type="observacao" class="form-control" id="observacao" name="observacao"
                           [(ngModel)]="extraControls.observacao"
                          [class.is-invalid]="inputInvalid('observacao')"> </textarea>
                        <div *ngIf="inputInvalid('observacao')" class="invalid-feedback">
                          <small class="form-text" *ngIf="inputError('observacao', 'required')">A data do evento é
                            requirida.</small>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <button type="submit" class="btn btn-success">Salvar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>