<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Redimensionar imagem.</h4>
  <button type="button" class="close" aria-label="Close" (click)="dimissModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body d-flex justify-content-between align-items-center">
  <img-cropper *ngIf="cropperSettings" #cropper [image]="avatar" [settings]="cropperSettings" class="img-thumbnail"></img-cropper>
  <img *ngIf="avatar.image" [src]="avatar.image" [width]="previewWidth" class="img-thumbnail" [height]="previewHeight" />
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Salvar</button>
</div>
